.input {
  padding: 5px;
  font-size: 16px;
  flex-grow: 1;
  border: none;
  border-bottom: 3px solid #5c6bc0;
  margin-right: 20px;
}
.input:focus {
  outline: none;
}
.input:focus::placeholder {
  transition: transform 200ms, font-size 100ms;
  transform: translateY(-16px);
  font-size: 11px;
}
